body {
  margin: 0px;
}

.render-area {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #666666 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #333333 0%,#666666 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #333333 0%,#666666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 )
}
